
html {
    height: 100vh;
}


body {
    background: rgb(255, 207, 136);
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.bord{
position:fixed;
width: 1000px;
height: 300px;
background: rgb(146, 146, 146);
margin-top: 565px;
/* margin-bottom: 10px; */
border-bottom-left-radius: 10%;
border-bottom-right-radius: 10%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border: 3px solid rgb(0, 0, 0);
}
.schermA{
position:fixed;
width: 1000px;
height: 550px;
background: rgb(0, 0, 0);
margin-top: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10%;
border-top-right-radius: 10%;
border: 3px solid rgb(0, 0, 0);

display: flex;
justify-content: center;
}
.schermB{
position:fixed;
width: 950px;
height: 500px;
background: white;
margin-top: 45px;
border-radius: 5px 5px 5px 5px;
}

.camera{
position:fixed;
width: 10px;
height:10px;
background-color: rgb(109, 109, 109);
margin-top:3px;
border-radius: 50%;
border: 5px solid rgb(58, 58, 58)
}

.row{
display: flex;
justify-content: center;
margin-top: 20px;

}

h1{
color: antiquewhite;
text-align: center;
vertical-align: middle;
line-height: 20px; 
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 500;
}

.toets{
background: rgb(26, 26, 26);
width: 60px;
height: 60px;
border: 2px solid black;
margin-left: 5px;
margin-right: 5px;
border-radius:5px;
cursor: pointer;
box-shadow: 0 8px #5e5e5e;
}

.toets:active {
    box-shadow: 0 5px #5e5e5e;
    transform: translateY(4px);
}

.Apple {
    position: fixed;
    margin-left: 948px;
    margin-top: 545px;
    width: 40px;
}

.Google {
    position: relative;
    left: 18em;
    top: 7em;
    width: 380px;
}

#searchbar_got {
    position: fixed;
    left: 50em;
    top: 21em;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    background: #f8fafe;
}

/*==================================================
  Media Queries
==================================================*/

@media only screen and (max-width: 1199px){

}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {
    
}