
html {
    height: 100vh;
}


body {
    background: rgb(255, 207, 136);
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.bord{
position:fixed;
width: 63em;
height: 20em;
background: rgb(146, 146, 146);
margin-top: 35em;
/* margin-bottom: 10px; */
border-bottom-left-radius: 10%;
border-bottom-right-radius: 10%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border: 3px solid rgb(0, 0, 0);
}
.schermA{
position:fixed;
width: 63em;
height: 35em;
background: rgb(0, 0, 0);
margin-top: 0.5em;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10%;
border-top-right-radius: 10%;
border: 3px solid rgb(0, 0, 0);

display: flex;
justify-content: center;
}
.schermB{
position:fixed;
width: 59em;
height: 31em;
background: white;
margin-top: 3em;
border-radius: 5px 5px 5px 5px;
}

.camera{
position:fixed;
width: 0.8em;
height:0.8em;
background-color: rgb(109, 109, 109);
margin-top:0.4em;
border-radius: 50%;
border: 5px solid rgb(58, 58, 58)
}

.row{
display: flex;
justify-content: center;
margin-top: 1.5em;

}

h1{
color: antiquewhite;
text-align: center;
vertical-align: middle;
line-height: 20px; 
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 500;
}

.toets{
background: rgb(26, 26, 26);
width: 4em;
height: 4em;
border: 2px solid black;
margin-left: 5px;
margin-right: 5px;
border-radius:5px;
cursor: pointer;
box-shadow: 0 8px #5e5e5e;
}

.toets:active {
    box-shadow: 0 5px #5e5e5e;
    transform: translateY(4px);
}

.Apple {
    position: relative;
    margin-top: 33.3em;
    width: 3em;
}

.Google {
    position: relative;
    left: 18em;
    top: 7em;
    width: 24em;
}

.searchbar {
    position: relative;
    left: -8em;
    top: 11em;
    width: 26em;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    background: #f8fafe;
}

/*==================================================
  Media Queries
==================================================*/

@media only screen and (max-width: 1199px){
    .schermA {
        display: none;
    }
    .schermB {
        display: none;
    }
    .bord {
        display: none;
    }
    .Google {
        display: none;
    }
    .camera-tab {
        display: none;
    }
    .Apple{
        display: none;
    }
    .schermA-tab {
        position: fixed;
        width: 760px;
        height: 550px;
        background: rgb(0, 0, 0);
        margin-top: 210px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 3px solid rgb(0, 0, 0);
        display: flex;
        justify-content: center;
    }
    .schermB-tab{
        position: fixed;
        width: 690px;
        height: 490px;
        background: white;
        margin-top: 245px;
        border-radius: 5px 5px 5px 5px;
    }
    .searchbar {
        left: 13.5em;
        top: 35em;
    }
    .Google-tab {
        position: relative;
        left: 11.4em;
        top: 9em;
        width: 330px;
    }
    .camera-tab {
        position: relative;
        left: 2.3em;
        top: 30em;
    }
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {
    
}